{% extends "layout.html" %}

{% block body %}
    <h1>Sports inscription!</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="Name" name="name">
        <br>
        <select name="sport">
            <option disabled selected value="">Sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Register">
    </form>

{% endblock %}